*.lst
*.o
scan_test
micro
sam/sam
sam/macc
sam/*.obj
sam/*.lis
sam/trace.txt
*.swp

gens/generators/Intset.h

gens/generators/Intset.h

gens/generators/llgen2016.cpp

gens/generators/parserGen2016.cpp
