*.lst
*.o
scan_test
micro
sam/sam
sam/macc
sam/*.obj
sam/*.lis
sam/trace.txt
*.swp
gens/
tests/macc
tests/sam
tests/*.asm
tests/*.lis
tests/*.obj
tests/trace.txt

tests/betaTests/macc
tests/betaTests/sam
tests/betaTests/*.asm
tests/betaTests/*.lis
tests/betaTests/*.obj
tests/betaTests/trace.txt

testtofile.cpp
